/* 	VARS */
@site-width: 1080px; 
@site-padding: 0 20px;
@main-font: "Century Gothic";
@section-margin: 30px;
@column-padding: 30px;
@feature-padding: 20px;
@icon-height: 117px;

@teal: 	#5bb6ad;
@purple: #5e1e75;
@orange: #e05f1d;
@green: #178a2d;
@red: #c40411;
@yellow: #efc608;
@dark-gray: #57585c;
@light-gray: #dddddd;

@b-radius: 5px;

/* 	UTILITY */
.inner { 
	width: @site-width; 
	margin:0 auto; 
	padding: @site-padding; 
	.box-sizing(border-box); 
	position:relative;
}
.pull-left { float:left; }
.pull-right { float:right; }
.clear-left { clear: left; }
.clear-right { clear: right; }
.horizontal-list > * { display:block; float:left; }
body * { line-height: 1.6em; }


.nav > li {
	display: block;
	float: left;	
}

// Clearfix
.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after { clear:both; }
.group { zoom:1; } /* For IE 6/7 (trigger hasLayout) */

// Text Styles
.main-font { font-family:@main-font; }
.strong { font-weight:bold; }
.align-left { text-align:left; }
.align-right { text-align:right; }
.align-center { text-align:center; }
.uppercase { text-transform:uppercase; }
.underline { text-decoration:underline; }

// Font-sizes
.font-size-9 { font-size:9px; }
.font-size-10 { font-size:10px; }
.font-size-11 { font-size:11px; }
.font-size-12 { font-size:12px; }
.font-size-13 { font-size:13px; }
.font-size-14 { font-size:14px; }
.font-size-15 { font-size:15px; }
.font-size-16 { font-size:16px; }
.font-size-17 { font-size:17px; }
.font-size-18 { font-size:18px; }
.font-size-19 { font-size:19px; }
.font-size-20 { font-size:20px; }
.font-size-21 { font-size:21px; }
.font-size-22 { font-size:22px; }
.font-size-23 { font-size:23px; }
.font-size-24 { font-size:24px; }
.font-size-25 { font-size:25px; }
.font-size-26 { font-size:26px; }
.font-size-27 { font-size:27px; }
.font-size-28 { font-size:28px; }
.font-size-29 { font-size:29px; }
.font-size-30 { font-size:30px; }
.font-size-31 { font-size:31px; }
.font-size-32 { font-size:32px; }
.font-size-33 { font-size:33px; }
.font-size-34 { font-size:34px; }
.font-size-35 { font-size:35px; }
.font-size-36 { font-size:36px; }

//Colors
.teal { color:@teal; }
.teal-bg { background: @teal; }

.purple { color:@purple; }
.purple-bg { background: @purple; }

.orange { color:@orange; }
.orange-bg { background: @orange; }

.green { color:@green; }
.green-bg { background: @green; }

.red { color:@red; }
.red-bg { background: @red; }

.red { color:@red; }
.red-bg { background: @red; }

.yellow { color:@yellow; }
.yellow-bg { background: @yellow; }

.dark-gray { color:@dark-gray; }
.dark-gray-bg { background: @dark-gray; }

.light-gray { color:@light-gray; }

.white { color:@white; }
a { color:inherit; }

.feature-panel {
	border: 1px solid #e0e0e0;
	.border-radius(@b-radius);
	#gradient > .vertical(#fefefe, #f2f2f2);
	padding: @feature-padding;
	// background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f2f2f2));
	
}
/*  HEADER */

#header { margin-bottom:@section-margin; }

#brand { }

.separated-nav {  }
.separated-nav li { }
.separated-nav li:before {  
	content: "|";
	margin-left: 10px;
	padding-right: 10px;
}

.separated-nav > li > a { display: inline; } 
.separated-nav li:first-child:before { 
	font-size: 0;
}


// Primary Nav

#primary-nav {
	position: absolute;
	bottom: 0;
	right: 20px;
	margin: 0;
}


/*  BANNER */

.tabbed-nav > li { .border-radius(@b-radius @b-radius 0 0); }
.tabbed-nav > li > a { 
	.border-radius(@b-radius @b-radius 0 0);
	padding:10px; 
}

#tab-nav li { margin-left:5px; }
#tab-nav li:first-child { margin-left:0; }

#banner {
	.border-radius(@b-radius);
	height:385px;
	margin-bottom:@section-margin;
}

/*  CONTENT */

#page-content {
	margin-bottom:@section-margin;
}

/* FOOTER */
#footer {
	margin-top:25px;
	padding-bottom:30px;
	padding-top:30px;
	.light-gray;
	box-shadow: inset 0 0 10px #000000;
	
	#sitemap-nav {
		.font-size-12;
		margin:0;
		
		li {
			display:block;
			.pull-left;
			margin-left:15px;
			
			&:first-child {
				margin-left:0;
			}
			
			dl {
				a {
					.light-gray;
				}
				dt {
					color: @yellow;
					.uppercase;
					
				}
				dd {
					margin:0;
				}
			}
		}
		dt {
			color: @yellow;
			.uppercase;
		}
	}
	
	#parent-companies {
		margin:0 0 20px 0;
		width:100%;
		
		li {
			display:block;
			.pull-left;
			margin-right:15px;
		}
	}
	
	#experts {
		margin:10px 0 20px 0;
		
		li {
			display:block;
			.pull-left;
			margin-left:15px;
			border:1px solid @white;
			box-shadow:-3px 3px 0px @teal;
			
			&:first-child {
				margin-left:0;
			}
		}
	}
	
	#terms-nav {
		li{
			&:before {
				margin-left: 6px;
				padding-right: 2px;
			}
			
			a {
				// color: @white;
				
				&:hover {
					background: none;
					.underline;
				}
			}
		}
	}
	
	#footer-widget-area-2 {
		border-top:1px solid lighten(@dark-gray, 15%);
		margin-top:20px;
		padding-top:20px;
	}
	
	.small {
		padding-left:30px;
		//border-left:1px solid lighten(@dark-gray, 15%);
	}
	.large {
		padding-right:30px;
		border-right:1px solid lighten(@dark-gray, 15%);
	}
	
}

/* BUTTONS */
.button {
	.border-radius(@b-radius);
	background: -webkit-gradient(linear, left top, left bottom, from(darken(@teal, 12%)), to(lighten(@teal, 5%)));
	display: inline-block;
	padding: 5px 10px;
	
	&:hover {
		text-decoration: none;
		background: -webkit-gradient(linear, left top, left bottom, from(darken(@teal, 7%)), to(lighten(@teal, 3%)));
		color: @white;
	}
}

/* WIDGETS */
.widget-area { 
	margin-bottom:@section-margin;
}

.widget {
	.pull-left;
	width:100%;
	position:relative;
	.box-sizing(border-box);
}

.small { width:34%; }
.large { width:66%; }
.left-column { padding-right:@column-padding; box-sizing:border-box; }

// Image Widget 
.image-widget {
	.align-center;
}

.image-widget + .image-widget { margin-top: @section-margin*.5; }

// News Widget
.news-widget > h3 {
	border-bottom:3px solid @teal;
	padding-bottom:5px;
	margin-bottom:5px;

		.rss-link { float:right; }

}

.right-arrow:after {
	content: "\2192";
	padding-left: 3px;
}

.news-widget > h4 { margin-bottom:5px; }


.news-widget + .news-widget { margin-top:@section-margin; }
// Icon Widget

.graphic-widget{ 
	width:33.33%; 
	padding: 0 @feature-padding;

		i {
			.pull-left;
			height:@icon-height;
			padding-right: @feature-padding;
			width: (125-(2*@feature-padding)+1)
		}

		a {
			position: absolute;
			bottom: 0;
			left: 125px;
		}

}
.horizontal-list .graphic-widget + .graphic-widget { 
	border-left:1px solid @dark-gray; 
}

.horizontal-list .graphic-widget + .graphic-widget + .graphic-widget { padding-right:0; }


.graphic-capitol { background: url('../../img/graphic-capitol.jpg') no-repeat left center; }
.graphic-bullhorn { background: url('../../img/graphic-bullhorn.jpg') no-repeat left center; }
.graphic-nodes { background: url('../../img/graphic-nodes.jpg') no-repeat left center; }

/* RESETS */
.unpadded { padding:0; }